{% extends "product/navbar.html" %}

{%block body%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Purpose of the application</h1>
            
        </div>
    </div>
</header>
<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">How it works</h1>
            
        </div>
    </div>
</header>
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Libraries used</h1>
            
        </div>
    </div>
</header>
<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Approache</h1>
            
        </div>
    </div>
</header>

{%endblock%}