{% extends "product/navbar.html" %}

{%block body%}

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"><ins>Purpose of the application</ins></h1>
                <p style="font-size: 15px;">Downloading product reviews from the Ceneo.pl website based on their individual codes</p>
            </div>
        </div>
    </header>
    <header class="bg-secondary py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"><ins>How it works</ins></h1>
                <p style="font-size: 15px;">When valid code is executed, the product and its associated opinions are added to the database.
                     This allows the user to view the opinions in a well-organized table, where they can be downloaded, filtered, and sorted. 
                     Additionally, visual representations of the opinions can be displayed in charts for further analysis</p>
            </div>
        </div>
    </header>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"><ins>Libraries used</ins></h1>
                <p style="font-size: 15px;">Django framework libraries like Django-filters | BeautifulSoup | Bootstrap | Chart.js</p>
            </div>
        </div>
    </header>
    <header class="bg-secondary py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"><ins>Approache</ins></h1>
                <p  style="font-size: 15px;">I utilized Beautiful Soup to scrape product reviews from Ceneo.pl, and then stored them in a database. 
                    In the views, I displayed the reviews, and for filtering, I incorporated the Django-filters library. For charts i used Chart.js </p>
            </div>
        </div>
    </header>

{%endblock%}