{% extends "product/navbar.html" %}

{%block body%}
  <a href="{% url 'product_details' pk=product.pk %} "class="btn btn-secondary btn-lg btn-block" style="font-size: 18px;">Back To Product Page</a>

  
  <h1 class="text-center bg-dark py-5  text-white"  ><ins>Share of individual recommendations in the total number of opinions</ins></h1>
  <div id="chart1" class="d-flex justify-content-center align-items-center mx-auto text-center" style="max-width: 600px;">
    <canvas id="myChart" width="500" height="300"></canvas>
  </div>

  <h1 class="text-center bg-dark py-5  text-white"  ><ins>Number of reviews with individual star ratings</ins></h1>
  <div id="chart1" class="d-flex justify-content-center align-items-center mx-auto text-center" style="max-width: 600px;">
    <canvas id="myChart1" width="500" height="300"></canvas>
  </div>

  <script>
  
    var values = {{ recomend_values|safe }};
    var labels = {{ recomend_labels|safe }};

    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
    ];

    var ctx = document.getElementById("myChart").getContext("2d");
    new Chart(ctx, {
        type: "pie",
        data: {
        labels: labels,
        datasets: [{
            backgroundColor: barColors,
            data: values
        }]
        },
        options: {
        title: {
            display: false,
            text: "World Wide Wine Production 2018"
        }
        }
    });
    

        var values = {{ star_values|safe }};
        var labels = {{ star_labels|safe }};
        var barColors = ["red", "green","blue","orange","brown"];
        
        new Chart("myChart1", {
          type: "bar",
          data: {
            labels: labels,
            datasets: [{
              backgroundColor: barColors,
              data: values
            }]
          },
          options: {
            legend: {display: false},
            title: {
              display: false,
              text: "Test"
            }
          }
        });
  </script>
   
   

{% endblock %}
