{% extends "product/navbar.html" %}

{%block body%}

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"><ins>Product List</ins></h1>
                
            </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                    
                        <div class="card-body p-4">
                            <div class="text-center" >
                                <h5 class="fw-bolder" style="font-size: 18px;">{{ product.name }}</h5>
                                <div class="product-stats" style="font-size: 14px;">
                                    <div>Number of opinions: {{ product.num_opinions }}</div>
                                    <div>Total pros: {{ product.total_pros }}</div>
                                    <div>Total cons: {{ product.total_cons }}</div>
                                    <div>Average stars: {{ product.avg_stars }}</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark btn-lg btn-block" href="{% url 'product_details' pk=product.pk %}">See opinions</a>
                                <a href="{% url 'download_json' pk=product.pk %}" class="btn btn-outline-dark btn-lg btn-block">Download opinions (JSON)</a>
                                <a href="{% url 'download_xml' pk=product.pk %}"class="btn btn-outline-dark btn-lg btn-block">Download opinions (XML)</a>
                                <a href="{% url 'download_csv' pk=product.pk %}"class="btn btn-outline-dark btn-lg btn-block">Download opinions (CSV)</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
{% endblock %}



    
